# Proyecto final

In [5]:
import pandas as pd
import numpy as np

<div style="background-color:#EDF7FF; border-color: #7C9DBF; border-left:5px solid #7C9DBF; padding: 0.5em;">
<strong>Nombre y apellidos:</strong> Maite Piedra Yera
</div>

In [6]:
data = pd.read_csv('datset_final.csv', sep=',', header=0)
data.head()

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Arab World,Access to clean fuels and technologies for coo...,73.702495,74.944860,76.258066,77.120464,78.094440,79.062000,79.851681,80.570536,...,82.368101,82.783289,83.120303,83.533457,83.897596,84.171599,84.510171,NaN,NaN,NaN
1,Arab World,Access to electricity (% of population),78.479364,80.023047,77.999111,79.306311,79.537184,80.574728,84.621206,82.926878,...,86.959991,87.199474,87.512260,88.129881,87.275323,88.720097,89.308602,90.283638,89.286856,NaN
2,Arab World,"Access to electricity, rural (% of rural popul...",61.626342,64.908930,66.246450,64.850152,64.471295,66.612006,72.367301,68.805997,...,75.816160,75.958878,77.251714,78.165706,75.512153,78.211000,79.065508,81.102134,79.248100,NaN
3,Arab World,"Access to electricity, urban (% of urban popul...",NaN,94.574429,93.022834,93.321986,93.601289,93.556321,95.141707,94.939743,...,96.290866,96.466418,96.435957,96.772853,96.466705,96.936319,97.290083,97.467915,97.063959,NaN
4,Arab World,Account ownership at a financial institution o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22.260538,NaN,NaN,30.277130,NaN,NaN,37.165211,NaN,NaN

In [7]:
data.shape

(106252, 22)

In [8]:
data.duplicated().sum()

77

In [9]:
data.loc[data.duplicated(keep=False), :]

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
20027,American Samoa,Net official development assistance received (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20028,American Samoa,Net official development assistance received (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20431,Andorra,Net official development assistance received (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20432,Andorra,Net official development assistance received (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22451,Aruba,Net official development assistance received (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101636,United Kingdom,Net official development assistance received (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102039,United States,Net official development assistance received (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102040,United States,Net official development assistance received (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104463,Virgin Islands (U.S.),Net official development assistance received (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104464,Virgin Islands (U.S.),Net official development assistance received (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data = data.drop_duplicates(keep='first')

In [11]:
data.shape

(106175, 22)

In [12]:
data.duplicated(subset=['Country Name', 'Indicator Name']).sum()

186

In [13]:
data.loc[data.duplicated(subset=['Country Name', 'Indicator Name'], keep=False), :]

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
231,Arab World,Net official development assistance received (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,Arab World,Net official development assistance received (...,5.060030e+09,5.458000e+09,5.285760e+09,9.061280e+09,1.164956e+10,2.929558e+10,1.756219e+10,1.906167e+10,...,1.231801e+10,1.365559e+10,1.512008e+10,2.249856e+10,2.226997e+10,2.072676e+10,2.775737e+10,2.998799e+10,3.383543e+10,NaN
635,Caribbean small states,Net official development assistance received (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636,Caribbean small states,Net official development assistance received (...,1.923900e+08,2.373400e+08,2.260100e+08,1.610800e+08,2.841000e+08,2.995900e+08,3.307900e+08,4.597600e+08,...,5.478800e+08,3.646700e+08,3.018200e+08,3.530500e+08,3.953600e+08,2.000200e+08,1.898000e+08,2.286400e+08,3.477700e+08,NaN
1039,Central Europe and the Baltics,Net official development assistance received (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105272,"Yemen, Rep.",Net official development assistance received (...,3.128000e+08,3.718300e+08,2.165000e+08,2.440600e+08,2.665200e+08,2.960000e+08,2.878100e+08,2.429000e+08,...,6.670800e+08,4.775500e+08,7.118200e+08,1.039630e+09,1.163440e+09,1.778410e+09,2.301110e+09,3.234010e+09,7.985220e+09,NaN
105675,Zambia,Net official development assistance received (...,7.946500e+08,5.708400e+08,8.107300e+08,7.704500e+08,1.128450e+09,1.169050e+09,1.470270e+09,1.022490e+09,...,9.193200e+08,1.033470e+09,9.571400e+08,1.145250e+09,9.977300e+08,7.971400e+08,9.664600e+08,1.040490e+09,1.000440e+09,9.762800e+08
105676,Zambia,Net official development assistance received (...,7.946500e+08,5.708400e+08,8.107300e+08,7.704500e+08,1.128450e+09,1.169050e+09,1.470270e+09,1.022490e+09,...,9.193200e+08,1.033470e+09,9.571400e+08,1.145250e+09,9.977300e+08,7.971400e+08,9.664000e+08,1.040490e+09,9.918700e+08,NaN
106079,Zimbabwe,Net official development assistance received (...,1.756400e+08,1.602100e+08,1.991300e+08,1.869200e+08,1.873000e+08,3.729400e+08,2.782400e+08,4.774600e+08,...,7.125300e+08,7.225800e+08,1.001590e+09,8.275400e+08,7.605700e+08,7.882900e+08,6.542500e+08,7.258400e+08,7.945100e+08,9.748900e+08
106080,Zimbabwe,Net official development assistance received (...,1.756400e+08,1.602100e+08,1.991300e+08,1.869200e+08,1.873000e+08,3.729400e+08,2.782400e+08,4.774600e+08,...,7.125300e+08,7.225800e+08,1.001590e+09,8.275400e+08,7.605700e+08,7.882900e+08,6.542500e+08,7.258400e+08,7.936100e+08,NaN

In [14]:
data = data.drop_duplicates(subset=['Country Name', 'Indicator Name'], keep='first')

In [15]:
data.shape

(105989, 22)

In [16]:
data.duplicated(subset=['Country Name', 'Indicator Name']).sum()

0

In [17]:
out_data = data.set_index(['Country Name', 'Indicator Name']).unstack('Country Name').T \
        .rename_axis(index=['Year', 'Country'], columns=None).reset_index()

In [18]:
out_data.head()

,Year,Country,Access to clean fuels and technologies for cooking (% of population),Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)",...,Urban poverty headcount ratio at national poverty lines (% of urban population),"Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)","Water productivity, total (constant 2010 US$ GDP per cubic meter of total freshwater withdrawal)",Women Business and the Law Index Score (scale 1-100),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),tax revenue (current LCU)
0,2000,Afghanistan,8.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.240000,7.670000,6.740000,NaN,26.250,NaN,NaN,NaN,NaN
1,2000,Albania,39.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,39.349998,33.450001,35.889999,NaN,80.000,NaN,NaN,NaN,NaN
2,2000,Algeria,86.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,61.049999,61.820000,61.720001,NaN,40.625,NaN,NaN,NaN,NaN
3,2000,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,Andorra,100.00,100.0,100.0,99.970963,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
out_data.shape

(5260, 405)

In [20]:
out_data.isnull().sum()

Year                                                                                                                                               0
Country                                                                                                                                            0
Access to clean fuels and technologies for cooking (% of population)                                                                            1265
Access to electricity (% of population)                                                                                                          499
Access to electricity, rural (% of rural population)                                                                                             626
                                                                                                                                                ...
Women Business and the Law Index Score (scale 1-100)                                                                                            1480
Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care  (% of women age 15-49)    5162
Women who were first married by age 15 (% of women ages 20-24)                                                                                  4956
Women who were first married by age 18 (% of women ages 20-24)                                                                                  4872
tax revenue (current LCU)                                                                                                                       2945
Length: 405, dtype: int64

In [21]:
columnas = list(out_data)

In [22]:
del columnas[0:2]

In [23]:
columnas

['Access to clean fuels and technologies for cooking (% of population)',
 'Access to electricity (% of population)',
 'Access to electricity, rural (% of rural population)',
 'Access to electricity, urban (% of urban population)',
 'Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+)',
 'Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)',
 'Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)',
 'Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)',
 'Account ownership at a financial institution or with a mobile-money-service provider, poorest 40% (% of population ages 15+)',
 'Account ownership at a financial institution or with a mobile-money-service provider, primary education or less (% of population ages 15+)',
 'Account ownership at a financial institution or with a mobile-money-service provider, richest 60% (% of population ages 15+)',
 'Account ownership at a financial institution or with a mobile-money-service provider, secondary education or more (% of population ages 15+)',
 'Account ownership at a financial institution or with a mobile-money-service provider, young adults (% of population ages 15-24)',
 'Adjusted net savings, excluding particulate emission damage (% of GNI)',
 'Adolescent fertility rate (births per 1,000 women ages 15-19)',
 'Adolescents out of school (% of lower secondary school age)',
 'Adolescents out of school, female (% of female lower secondary school age)',
 'Adolescents out of school, male (% of male lower secondary school age)',
 'Agriculture, forestry, and fishing, value added per worker (constant 2010 US$)',
 'Air transport, freight (million ton-km)',
 'Air transport, passengers carried',
 'Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)',
 'Annual freshwater withdrawals, domestic (% of total freshwater withdrawal)',
 'Annual freshwater withdrawals, industry (% of total freshwater withdrawal)',
 'Annual freshwater withdrawals, total (% of internal resources)',
 'Annual freshwater withdrawals, total (billion cubic meters)',
 'Annualized growth in per capita real survey mean consumption or income, bottom 40% (%)',
 'Annualized growth in per capita real survey mean consumption or income, total population (%)',
 'Aquaculture production (metric tons)',
 'Average transaction cost of sending remittances from a specific country (%)',
 'Average transaction cost of sending remittances to a specific country (%)',
 'Bank capital to assets ratio (%)',
 'Bank nonperforming loans to total gross loans (%)',
 'Battle-related deaths (number of people)',
 'Bird species, threatened',
 'Births attended by skilled health staff (% of total)',
 'Bribery incidence (% of firms experiencing at least one bribe payment request)',
 'Broad money growth (annual %)',
 'Broad money to total reserves ratio',
 'CO2 emissions (kg per 2010 US$ of GDP)',
 'CO2 emissions (kg per 2017 PPP $ of GDP)',
 'CO2 emissions (kg per PPP $ of GDP)',
 'CO2 emissions (metric tons per capita)',
 'Capture fisheries production (metric tons)',
 'Cereal yield (kg per hectare)',
 'Children in employment, female (% of female children ages 7-14)',
 'Children in employment, male (% of male children ages 7-14)',
 'Children in employment, total (% of children ages 7-14)',
 'Children out of school (% of primary school age)',
 'Children out of school, female (% of female primary school age)',
 'Children out of school, male (% of male primary school age)',
 'Children out of school, primary',
 'Children out of school, primary, female',
 'Children out of school, primary, male',
 'Coal rents (% of GDP)',
 'Commercial bank branches (per 100,000 adults)',
 'Completeness of birth registration (%)',
 'Completeness of birth registration, female (%)',
 'Completeness of birth registration, male (%)',
 'Completeness of birth registration, rural (%)',
 'Completeness of birth registration, urban (%)',
 'Compulsory education, duration (years)',
 'Contributing family workers, female (% of female employment) (modeled ILO estimate)',
 'Contributing family workers, male (% of male employment) (modeled ILO estimate)',
 'Coverage of social insurance programs (% of population)',
 'Coverage of social insurance programs in 2nd quintile (% of population)',
 'Coverage of social insurance programs in 3rd quintile (% of population)',
 'Coverage of social insurance programs in 4th quintile (% of population)',
 'Coverage of social insurance programs in poorest quintile (% of population)',
 'Coverage of social insurance programs in richest quintile (% of population)',
 'Coverage of social safety net programs (% of population)',
 'Coverage of social safety net programs in 2nd quintile (% of population)',
 'Coverage of social safety net programs in 3rd quintile (% of population)',
 'Coverage of social safety net programs in 4th quintile (% of population)',
 'Coverage of social safety net programs in poorest quintile (% of population)',
 'Coverage of social safety net programs in richest quintile (% of population)',
 'Coverage of unemployment benefits and ALMP (% of population)',
 'Coverage of unemployment benefits and ALMP in 2nd quintile (% of population)',
 'Coverage of unemployment benefits and ALMP in 3rd quintile (% of population)',
 'Coverage of unemployment benefits and ALMP in 4th quintile (% of population)',
 'Coverage of unemployment benefits and ALMP in poorest quintile (% of population)',
 'Coverage of unemployment benefits and ALMP in richest quintile (% of population)',
 'Current account balance (% of GDP)',
 'DEC alternative conversion factor (LCU per US$)',
 'Debt service (PPG and IMF only, % of exports of goods, services and primary income)',
 'Demand for family planning satisfied by modern methods (% of married women with demand for family planning)',
 'Disaster risk reduction progress score (1-5 scale; 5=best)',
 'Droughts, floods, extreme temperatures (% of population, average 1990-2009)',
 'Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)',
 'Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative)',
 'Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)',
 "Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)",
 "Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)",
 "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",
 "Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)",
 "Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative)",
 "Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)",
 'Educational attainment, at least completed lower secondary, population 25+, female (%) (cumulative)',
 'Educational attainment, at least completed lower secondary, population 25+, male (%) (cumulative)',
 'Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)',
 'Educational attainment, at least completed post-secondary, population 25+, female (%) (cumulative)',
 'Educational attainment, at least completed post-secondary, population 25+, male (%) (cumulative)',
 'Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)',
 'Educational attainment, at least completed primary, population 25+ years, male (%) (cumulative)',
 'Educational attainment, at least completed short-cycle tertiary, population 25+, female (%) (cumulative)',
 'Educational attainment, at least completed short-cycle tertiary, population 25+, male (%) (cumulative)',
 'Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)',
 'Educational attainment, at least completed upper secondary, population 25+, female (%) (cumulative)',
 'Educational attainment, at least completed upper secondary, population 25+, male (%) (cumulative)',
 'Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)',
 'Employment in agriculture (% of total employment) (modeled ILO estimate)',
 'Employment in agriculture, female (% of female employment) (modeled ILO estimate)',
 'Employment in agriculture, male (% of male employment) (modeled ILO estimate)',
 'Employment in industry (% of total employment) (modeled ILO estimate)',
 'Employment in industry, female (% of female employment) (modeled ILO estimate)',
 'Employment in industry, male (% of male employment) (modeled ILO estimate)',
 'Employment in services (% of total employment) (modeled ILO estimate)',
 'Employment in services, female (% of female employment) (modeled ILO estimate)',
 'Employment in services, male (% of male employment) (modeled ILO estimate)',
 'Energy intensity level of primary energy (MJ/$2011 PPP GDP)',
 'Exclusive breastfeeding (% of children under 6 months)',
 'Exports of goods and services (% of GDP)',
 'Exports of goods and services (annual % growth)',
 'External debt stocks (% of GNI)',
 'Female genital mutilation prevalence (%)',
 'Female share of employment in senior and middle management (%)',
 'Firms expected to give gifts in meetings with tax officials (% of firms)',
 'Firms with female participation in ownership (% of firms)',
 'Firms with female top manager (% of firms)',
 'Fish species, threatened',
 'Foreign direct investment, net inflows (% of GDP)',
 'Foreign direct investment, net inflows (BoP, current US$)',
 'Forest area (% of land area)',
 'Forest area (sq. km)',
 'Forest rents (% of GDP)',
 'GDP (constant 2010 US$)',
 'GDP (constant LCU)',
 'GDP (current LCU)',
 'GDP (current US$)',
 'GDP growth (annual %)',
 'GDP per capita (constant 2010 US$)',
 'GDP per capita (constant LCU)',
 'GDP per capita (current LCU)',
 'GDP per capita (current US$)',
 'GDP per capita growth (annual %)',
 'GDP per capita, PPP (constant 2017 international $)',
 'GDP per capita, PPP (current international $)',
 'GDP per person employed (constant 2017 PPP $)',
 'GDP, PPP (constant 2017 international $)',
 'GDP, PPP (current international $)',
 'GNI (constant 2010 US$)',
 'GNI (constant LCU)',
 'GNI per capita (US$)',
 'GNI per capita (constant 2010 US$)',
 'GNI per capita (constant LCU)',
 'GNI per capita (current LCU)',
 'GNI per capita growth (annual %)',
 'GNI per capita, Atlas method (current US$)',
 'GNI per capita, PPP (constant 2017 international $)',
 'GNI per capita, PPP (current international $)',
 'GNI, PPP (constant 2017 international $)',
 'GNI, PPP (current international $)',
 'General government final consumption expenditure (annual % growth)',
 'General government final consumption expenditure (constant 2010 US$)',
 'Gross capital formation (annual % growth)',
 'Households and NPISHs Final consumption expenditure (annual % growth)',
 'Immunization, DPT (% of children ages 12-23 months)',
 'Immunization, HepB3 (% of one-year-old children)',
 'Immunization, measles (% of children ages 12-23 months)',
 'Imports of goods and services (annual % growth)',
 'Incidence of HIV, ages 15-49 (per 1,000 uninfected population ages 15-49)',
 'Incidence of malaria (per 1,000 population at risk)',
 'Incidence of tuberculosis (per 100,000 people)',
 'Individuals using the Internet (% of population)',
 'Industry (including construction), value added per worker (constant 2010 US$)',
 'Inflation, consumer prices (annual %)',
 'Informal employment (% of total non-agricultural employment)',
 'Informal employment, female (% of total non-agricultural employment)',
 'Informal employment, male (% of total non-agricultural employment)',
 'Intentional homicides (per 100,000 people)',
 'Intentional homicides, female (per 100,000 female)',
 'Intentional homicides, male (per 100,000 male)',
 'Investment in energy with private participation (current US$)',
 'Investment in transport with private participation (current US$)',
 'Investment in water and sanitation with private participation (current US$)',
 'Level of water stress: freshwater withdrawal as a proportion of available freshwater resources',
 'Literacy rate, adult female (% of females ages 15 and above)',
 'Literacy rate, adult male (% of males ages 15 and above)',
 'Literacy rate, adult total (% of people ages 15 and above)',
 'Literacy rate, youth (ages 15-24), gender parity index (GPI)',
 'Literacy rate, youth female (% of females ages 15-24)',
 'Literacy rate, youth male (% of males ages 15-24)',
 'Literacy rate, youth total (% of people ages 15-24)',
 'Lower secondary completion rate, female (% of relevant age group)',
 'Lower secondary completion rate, male (% of relevant age group)',
 'Lower secondary completion rate, total (% of relevant age group)',
 'Mammal species, threatened',
 'Manufacturing, value added (% of GDP)',
 'Manufacturing, value added (current US$)',
 'Marine protected areas (% of territorial waters)',
 'Maternal mortality ratio (modeled estimate, per 100,000 live births)',
 'Medium and high-tech Industry (including construction) (% manufacturing value added)',
 'Merchandise trade (% of GDP)',
 'Methodology assessment of statistical capacity (scale 0 - 100)',
 'Mineral rents (% of GDP)',
 'Mortality caused by road traffic injury (per 100,000 people)',
 'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70 (%)',
 'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, female (%)',
 'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, male (%)',
 'Mortality rate attributed to household and ambient air pollution, age-standardized (per 100,000 population)',
 'Mortality rate attributed to household and ambient air pollution, age-standardized, female (per 100,000 female population)',
 'Mortality rate attributed to household and ambient air pollution, age-standardized, male (per 100,000 male population)',
 'Mortality rate attributed to unintentional poisoning (per 100,000 population)',
 'Mortality rate attributed to unintentional poisoning, female (per 100,000 female population)',
 'Mortality rate attributed to unintentional poisoning, male (per 100,000 male population)',
 'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)',
 'Mortality rate, neonatal (per 1,000 live births)',
 'Mortality rate, under-5 (per 1,000 live births)',
 'Mortality rate, under-5, female (per 1,000 live births)',
 'Mortality rate, under-5, male (per 1,000 live births)',
 'Multidimensional poverty headcount ratio (% of total population)',
 'Multidimensional poverty headcount ratio, children (% of population ages 0-17)',
 'Multidimensional poverty headcount ratio, female (% of female population)',
 'Multidimensional poverty headcount ratio, household (% of total households)',
 'Multidimensional poverty headcount ratio, male (% of male population)',
 'Multidimensional poverty index (scale 0-1)',
 'Multidimensional poverty index, children (population ages 0-17) (scale 0-1)',
 'Multidimensional poverty intensity (average share of deprivations experienced by the poor)',
 'Natural gas rents (% of GDP)',
 'Net official development assistance and official aid received (current US$)',
 'Net official development assistance received (constant 2018 US$)',
 'Net official development assistance received (current US$)',
 'New business density (new registrations per 1,000 people ages 15-64)',
 'Nondiscrimination clause mentions gender in the constitution (1=yes; 0=no)',
 'Number of people spending more than 10% of household consumption or income on out-of-pocket health care expenditure',
 'Number of people spending more than 25% of household consumption or income on out-of-pocket health care expenditure',
 'Nurses and midwives (per 1,000 people)',
 'Oil rents (% of GDP)',
 'Over-age students, primary (% of enrollment)',
 'Over-age students, primary, female (% of female enrollment)',
 'Over-age students, primary, male (% of male enrollment)',
 'PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)',
 'PM2.5 air pollution, population exposed to levels exceeding WHO guideline value (% of total)',
 'PM2.5 pollution, population exposed to levels exceeding WHO Interim Target-1 value (% of total)',
 'PM2.5 pollution, population exposed to levels exceeding WHO Interim Target-2 value (% of total)',
 'PM2.5 pollution, population exposed to levels exceeding WHO Interim Target-3 value (% of total)',
 'PPP conversion factor, GDP (LCU per international $)',
 'PPP conversion factor, private consumption (LCU per international $)',
 'Patent applications, nonresidents',
 'Patent applications, residents',
 'People practicing open defecation (% of population)',
 'People practicing open defecation, rural (% of rural population)',
 'People practicing open defecation, urban (% of urban population)',
 'People using at least basic drinking water services (% of population)',
 'People using at least basic drinking water services, rural (% of rural population)',
 'People using at least basic drinking water services, urban (% of urban population)',
 'People using at least basic sanitation services (% of population)',
 'People using at least basic sanitation services, rural (% of rural population)',
 'People using at least basic sanitation services, urban (% of urban population)',
 'People using safely managed drinking water services (% of population)',
 'People using safely managed drinking water services, rural (% of rural population)',
 'People using safely managed drinking water services, urban (% of urban population)',
 'People using safely managed sanitation services (% of population)',
 'People using safely managed sanitation services, rural (% of rural population)',
 'People using safely managed sanitation services, urban (% of urban population)',
 'People with basic handwashing facilities including soap and water (% of population)',
 'People with basic handwashing facilities including soap and water, rural (% of rural population)',
 'People with basic handwashing facilities including soap and water, urban (% of urban population)',
 'Periodicity and timeliness assessment of statistical capacity (scale 0 - 100)',
 'Personal remittances, received (% of GDP)',
 'Physicians (per 1,000 people)',
 'Plant species (higher), threatened',
 'Population living in slums (% of urban population)',
 'Portfolio investment, net (BoP, current US$)',
 'Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)',
 'Poverty headcount ratio at national poverty lines (% of population)',
 'Preprimary education, duration (years)',
 'Prevalence of HIV, female (% ages 15-24)',
 'Prevalence of HIV, male (% ages 15-24)',
 'Prevalence of HIV, total (% of population ages 15-49)',
 'Prevalence of anemia among women of reproductive age (% of women ages 15-49)',
 'Prevalence of current tobacco use, females (% of female adults)',
 'Prevalence of current tobacco use, males (% of male adults)',
 'Prevalence of moderate or severe food insecurity in the population (%)',
 'Prevalence of overweight, weight for height (% of children under 5)',
 'Prevalence of overweight, weight for height, female (% of children under 5)',
 'Prevalence of overweight, weight for height, male (% of children under 5)',
 'Prevalence of severe food insecurity in the population (%)',
 'Prevalence of severe wasting, weight for height (% of children under 5)',
 'Prevalence of severe wasting, weight for height, female (% of children under 5)',
 'Prevalence of severe wasting, weight for height, male (% of children under 5)',
 'Prevalence of stunting, height for age (% of children under 5)',
 'Prevalence of stunting, height for age, female (% of children under 5)',

In [24]:
out_data = out_data.dropna(subset=columnas, how='all')

In [25]:
out_data.shape

(5259, 405)

In [26]:
out_data['Year'] = pd.to_datetime(out_data['Year'])

In [27]:
out_data.to_csv('practica.csv', index=False)